version: "3.8"

services:
  backend:
    build:
      context: .
      target: base
    command:
      - make
      - dev
    ports:
      - "8080:8080/tcp"
    volumes:
      - source: .
        target: /app
        type: bind
    develop:
      watch:
        - action: rebuild
          path: ./go.mod
    environment:
      LOG_LEVEL: debug
      REDIS_URL: redis://redis:6379/0

  redis:
    image: redis:7.4.7-bookworm@sha256:d665ad9dd15a25c100b77134516d4f9f46f06884983d86456f0a9c0434f3b49f
    ports:
      - "6379:6379/tcp"
