name: CI

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
  workflow_dispatch:

jobs:
  build:
    uses: SlashNephy/.github/.github/workflows/go-run.yml@master
    permissions:
      contents: 'read'
    with:
      command: 'make build'

  # lint:
  #   uses: SlashNephy/.github/.github/workflows/go-lint.yml@master
  #   permissions:
  #     contents: 'read'
  #     pull-requests: 'write'
  #   with:
  #     golangci-lint-flags: '--timeout=10m'

  make-generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
      - run: make generate
      - run: git diff --exit-code
